/* write your override styles here */

#wall .tag-1, {
background: none;
}

#wall #tag-2 {
background: none;
}

div#wall #tag-3.slick {
  background: none;
}

#wall #tag-4 {
  background: none;
}

div#wall .parent #tag-5.slick {
background: none;
}

div#wall div.parent div:last-child div#tag-6 {
background: none;
}

body div#wall div.parent div > #tag-7.slick {
background: none;
}
